body {
  background-color: #f2f2f2;
}
.brend__title__wrapper {
  background-color: #fff;
  padding: 0 5%;
}
@media screen and (min-width: 768px) {
  .brend__title__wrapper {
    padding: 0 3%;
  }
}
.brend__title {
  padding: 16px 0;
  margin: 0;
}

.brend__items {
  display: none;
}

@media screen and (min-width: 768px) {
  .brend__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    margin-top: 24px;
    height: 170px;
    overflow: hidden;
  }
}
.show__more {
  height: 100%;
}
.brend__item {
  width: 240px;
  height: 72px;
  font-size: 18px;
  display: flex;
  justify-content: start;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .brend__item {
    width: 224px;
  }
}
@media screen and (min-width: 1120px) {
  .brend__item {
    width: 240px;
  }
}
.brend__item div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.brend__item div:hover {
  border: 1px solid #ff3e7844;
}
.brend__item div:hover > svg {
  fill: #f790ad65;
}
.brend__item div:hover > svg > rect {
  stroke: #f790ad65;
}
.show__more__btn__wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .show__more__btn__wrapper {
    display: block;
  }
}

.swiper-slide {
  margin-bottom: 36px;
}
.brend__slider__wrapper {
  margin: 0 auto;
  padding: 16px 0 16px 5%;
}
@media screen and (min-width: 768px) {
  .brend__slider__wrapper__hidden {
    display: none;
  }
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
