body {
  margin: 0 auto;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("../assets/fonts/TTLakes-Regular.woff2"),
    url("../assets/fonts/TTLakes-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("../assets/fonts/TTLakes-Medium.woff2"),
    url("../assets/fonts/TTLakes-Medium.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("../assets/fonts/TTLakes-Bold.woff2"),
    url("../assets/fonts/TTLakes-Bold.woff");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
}
.title {
  font-family: "TT Lakes Bold", sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  margin: 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  margin: 0 auto;
}
@media screen and (min-width: 913px) {
  .nav {
    display: none;
  }
}

/* ! nav item */
@media screen and (min-width: 480px) {
  .nav__item {
    margin-right: 10px;
  }
  .nav__item:last-child {
    margin-right: 0;
  }
}

.nav__button {
  border-radius: 100%;
  background-color: #ff3e79;
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .nav__button:first-child {
    margin-right: 15px;
  }
}
@media screen and (min-width: 400px) {
  .nav__button:first-child {
    margin-right: 20px;
  }
}

.nav__right_side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 425px) {
  .nav__right_side {
    margin-right: 10%;
  }
}
@media screen and (min-width: 510px) {
  .nav__right_side {
    margin-right: 15%;
  }
}

.nav__left_side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 700px) {
  .nav__left_side {
    width: 45%;
  }
}
@media screen and (max-width: 649px) {
  .nav__left_side {
    gap: 20px;
  }
}

.divider {
  background: #eaeaea;
  border-radius: 1px;
  width: 2px;
  height: 32px;
}
@media screen and (min-width: 480px) {
  .divider {
    margin-right: 10px;
  }
}

.hidden {
  display: none;
}
@media screen and (min-width: 650px) {
  .hidden {
    display: block;
  }
}

.main {
  background: #f8f8f8;
}
.services {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.services__left__side {
  display: flex;
  align-items: center;
}
.services__title::before {
  content: " ";
  position: absolute;
  left: 0;
  background: #41f6d7;
  width: 8px;
  height: 40px;
  border-radius: 0 25% 25% 0;
  margin-left: -4px;
}

.services__hidden {
  display: none;
}
@media screen and (min-width: 913px) {
  .services__hidden {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .services__hidden div {
    display: flex;
    align-items: center;
    margin-right: 32px;
  }

  .services__hidden div > p {
    font-family: "TT Lakes Medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
    padding-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .services__hidden div {
    margin-right: 40px;
  }
}

.slide__content {
  display: flex;
  overflow-x: scroll;
  padding-top: 24px;
}
@media screen and (min-width: 480px) {
  .slide__content {
    padding-top: 32px;
  }
}
@media screen and (min-width: 769px) {
  .slide__content {
    display: flex;
  }
}
@media screen and (min-width: 913px) {
  .slide__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}

.slide__content::-webkit-scrollbar {
  width: 0;
}
.slide__button {
  height: 40px;
  background-color: #f8f8f8;
  border: none;
  text-align: center;
  font-family: "TT Lakes Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  white-space: pre;
  margin-right: 16px;
}
.slide__button:last-child {
  margin-left: 0;
}
.active {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

/* ! description */
@media (min-width: 480px) {
  .description {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .description {
    margin-top: 15px;
  }
}

/* ! description__text__wrapper */
@media screen and (min-width: 480px) {
  .description__text__wrapper {
    width: 400px;
  }
}
@media screen and (min-width: 913px) {
  .description__text__wrapper {
    width: 490px;
  }
}
@media screen and (min-width: 1200px) {
  .description__text__wrapper {
    width: 690px;
  }
}

.description__text {
  font-family: "TT Lakes Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  padding: 0;
  margin-bottom: 16px;
  text-align: start;
}
@media screen and (min-width: 480px) {
  .description__text {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .description__text {
    font-size: 16px;
  }
}

.description__text span {
  display: none;
}
@media screen and (min-width: 913px) {
  .description__text span {
    display: contents;
  }
}

.description__read-more {
  display: flex;
  justify-content: start;
  align-items: center;
}
.description__read-more__text {
  font-family: "TT Lakes Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  margin-bottom: 16px;
  padding: 0;
}

/* ! description__img__wrapper */
@media screen and (min-width: 480px) {
  .description__img__wrapper {
    width: 45%;
    margin-left: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .description__img__wrapper {
    width: 40%;
  }
}

.description__img {
  width: 100%;
  margin-bottom: 35px;
  position: absolute;
  left: 0;
}
@media screen and (min-width: 480px) {
  .description__img {
    border-radius: 15px;
    max-width: 100%;
    margin-bottom: 40px;
    position: unset;
  }
}
@media screen and (min-width: 913px) {
  .description__img {
    max-width: 100%;
    margin-bottom: 49px;
    border-radius: 15px;
  }
}
