@import '../scss/style.scss';

.slide {
  &__content {
    display: flex;
    overflow-x: scroll;
    padding-top: 24px;

    @media screen and (min-width: 480px) {
      padding-top: 32px;
    }
    @media screen and (min-width: 769px) {
      display: flex;
    }
    @media screen and (min-width: 913px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
  }

  &__content::-webkit-scrollbar {
    width: 0;
  }

  &__button {
    height: 40px;
    background-color: $light-gray-color;
    border: 2px solid transparent;
    text-align: center;
    font-family: $font-medium;
    font-size: $font-size-small;
    line-height: line-height;
    letter-spacing: -0.2px;
    color: $title-gray-color;
    white-space: pre;
    padding: 0 16px;

    @media screen and (min-width: 1440px) {
      margin-right: 20px;
    }
  }

  &__button:hover {
    background: $white-color;
    border: 2px solid $light-pink-color;
    border-radius: 6px;
    color: $pink-color;
    cursor: pointer;
    transition-duration: 0.3s, 0.3s;
    transition-property: border-color, color;
  }
  
  .active {
    background: $white-color;
    border: 2px solid $border-color;
    border-radius: 6px;
  }
}